USE [master]
GO
/****** Object:  Database [DBQUIZ]    Script Date: 11/8/2018 12:20:13 PM ******/
CREATE DATABASE [DBQUIZ]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBQUIZ', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\DBQUIZ.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DBQUIZ_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\DBQUIZ_log.ldf' , SIZE = 784KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBQUIZ].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBQUIZ]
GO
/****** Object:  Table [dbo].[TBL_ADMIN]    Script Date: 11/8/2018 12:20:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_ADMIN](
	[AD_ID] [int] IDENTITY(1,1) NOT NULL,
	[AD_NAME] [nvarchar](20) NOT NULL,
	[AD_PASSWORD] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_categroy]    Script Date: 11/8/2018 12:20:13 PM ******/
select * from TBL_ADMIN